/*
// +--------------------------------------------------------------------------------------------------------+  
// | Fonts								 																																																																																									|
// +--------------------------------------------------------------------------------------------------------+
*/

.montserrat { font-family: 'Montserrat', sans-serif; -webkit-font-smoothing: antialiased; font-smooth: always; }
.montserrat-bold { @extend .montserrat; font-weight:bold; -webkit-font-smoothing: antialiased; font-smooth: always; } 	
